/* COLOR PALLETES */

/* Usage: 
 > Every pallete consists of 5 colors
 > All variables ending in X are inactive
 > Remove the X's to use the color on the Theme Settings
*/ 

/* ======= BRAND ======= */

/* ===== FUNCTIONAL ==== */

/* ====== FEEDBACK ===== */

/* ======= ACCENT ====== */

/* ======= NEUTRAL ===== */



/* Bootstrap */

$colorDefaultX	: #f9f9f9;
$colorInfoX			: #5bc0de;
$colorSuccessX	: #5cb85c;
$colorPrimaryX	: #428bca;
$colorDangerX		: #d9534f;
